h2,h3{font-size: 25px;
font-family: Arial;}

nav.contenedor{font-family: 'Times New Roman', Times, serif;
font-size: 51px;}

/*selectors descendientes*/
.contenedor p{/*abuelo*/
color: yellow;
text-decoration: line-through;}

.contenedor>p{/*hijo directo*/
border: 5px solid red;}

.contenedor a{text-decoration: none;}

.contenedor>a{background-color: salmon;
font-weight: bold;}

h2+p{text-decoration: underline;}

h2~p{text-decoration: underline;}

h3~p{color: gold;}